@using Vehicle_Rent.ViewModels.AuthVM;
@model RegisterVM

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-content">
                <div class="pt-5">

                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Register</h3>
                        <form asp-action="Register" method="POST">
                            <div class="form-group">
                                <label for="Name">Name </label>
                                <input asp-for="Name" type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email </label>
                                <input asp-for="Email" type="email" class="form-control" id="email">
                            </div>
                            
                            <div class="form-group">
                                <label for="password">Password </label>
                                <input asp-for="Password" type="password" class="form-control" id="password" />
                            </div>

                            <div class="form-group">
                                <label for="ConfirmationPassword">Confirmation Password </label>
                                <input asp-for="ConfirmationPassword" type="password" class="form-control" id="ConfirmationPassword" />
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="remember_me" name="remember_me" value="true" asp-action="Remember me">
                                    <label class="custom-control-label" for="remember_me">Remember me</label>
                                </div>
                            </div>
                            <div class="form-group" style="display:flex; justify-content: center; align-items: center;">
                                <input type="submit" value="Register" class="btn btn-primary btn-md text-white">
                            </div>

                        </form>
                    </div>
                    <div style="display:flex; justify-content: center; align-items: center;">
                        <h6>
                            Already have an account?
                        </h6>
                        <a asp-controller="Auth" asp-action="Register">
                            <h6>
                                &nbsp;  Login
                            </h6>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

