@using Vehicle_Rent.ViewModels.VehicleVM;
@model List<VehicleDetailVM>;

<div class="site-section bg-light" style="margin-top:80px;">
    <div class="container">
        <div class="row">
            <div asp-controller="VehicleCatalogue" class="col-lg-7" >
                <h2 class="section-heading"><strong>Vehicles</strong></h2>
            </div>
        </div>

        
        <div class="row" style="margin-top:50px;">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="listing d-block align-items-stretch">
                        <div class="listing-img h-100 mr-4" style="width:300px; height:400px;">
                                <img src="@item.Photo" alt="Image" class="img-fluid">
                        </div>
                        <div class="listing-contents h-100">
                            <h3>@item.Name</h3>
                            <div>
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <p>@item.Description</p>
                                }
                                else
                                {
                                    <p>No description available</p>
                                }
                                <p><a href="#" class="btn btn-primary btn-sm">Rent Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

