@using Vehicle_Rent.ViewModels.VehicleVM;
@model VehicleDetailVM;


<div class="site-section bg-light" >
    <div class="container" style="margin-top:80px;">
        <h2 style="margin-bottom:40px;"><strong>Car Details</strong></h2>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="listing d-flex align-items-stretch">
                    <!-- Changed display to flex -->
                    <div class="listing-img mr-4">
                        <img src="~/images/car_6.jpg" alt="Image">
                    </div>
                    <div class="listing-contents" style="width:1000px">
                        <h3>Mitsubishi Pajero</h3>
                        <div class="rent-price">
                            <strong></strong><span class="mx-1">/</span>day
                        </div>
                        <div class="d-flex mb-3 border-bottom pb-3">
                            <!-- Changed d-block d-md-flex to d-flex -->
                            <div class="listing-feature pr-4">
                                <span class="caption">Luggage:</span>
                                <span class="number">8</span>
                            </div>
                            <div class="listing-feature pr-4">
                                <span class="caption">Doors:</span>
                                <span class="number">4</span>
                            </div>
                            <div class="listing-feature pr-4">
                                <span class="caption">Passenger:</span>
                                <span class="number">4</span>
                            </div>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos eos at eum, voluptatem quibusdam.</p>
                            <p><a href="#" class="btn btn-primary btn-sm">Rent Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h3 class="mb-5"><strong>Ratings</strong></h3>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Mike Fisher</span>
                            <span>Owner, Ford</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Jean Stanley</span>
                            <span>Traveler</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Katie Rose</span>
                            <span>Customer</span>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
    @* besh nkhalihaa ll about us " *@
    <div class="site-section bg-primary py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-md-0">
                    <h2 class="mb-0 text-white">What are you waiting for?</h2>
                    <p class="mb-0 opa-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.</p>
                </div>
                <div class="col-lg-5 text-md-right">
                    <a href="#" class="btn btn-primary btn-white">Rent a car now</a>
                </div>
            </div>
        </div>
    </div>
</div>




