@model VehicleCopyReadVM;
@using Vehicle_Rent.ViewModels.VehicleCopyVM;

<div class="site-section bg-light">
    <div class="site-section bg-primary py-5" style="margin-top:50px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-md-0">
                    <h2 class="mb-0 text-white">Vehicle Copy of Chevrolet Camaro</h2>
                </div>
                <div class="col-lg-5 text-md-right">
                    <a asp-action="RentVehicleCopy" asp-controller="RentVehicle" asp-route-vehicleCopyId =@Model.Id class="btn btn-primary btn-white">Rent this car</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7" style="margin-top:30px;">
                <h3 class="mb-5"><strong>Ratings</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                @foreach ( var rentalItem in Model.RentalItems )
                {
                    @if (rentalItem.Ratings!=null)
                    {
                        <div class="testimonial-2">
                            <blockquote class="mb-4" style="display:flex;">
                                <p>" @rentalItem.Ratings.Comment "</p>
                                <div style="margin-left:auto;">
                                    <h7 style="white-space: nowrap;">
                                        @for (int i = 0; i < rentalItem.Ratings.Value; i++)
                                        {
                                            <span style="color:gold;  letter-spacing: 1px;">★</span>
                                        }
                                    </h7>
                                </div>
                            </blockquote>
                            <div style="display:flex; justify-content:space-between;">
                                <div class="d-flex v-card align-items-center">
                                    <img src=@rentalItem.User.Image alt="Image" class="img-fluid mr-3">
                                    <div class="author-name" >
                                        <div style="flex-grow: 1;">
                                            <span class="d-block">@rentalItem.User.Name</span>
                                            <span>@rentalItem.User.UserName</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>