<div class="site-section bg-light" style="margin-top:80px;">
    <div class="container">
        <div class="row">
            <div asp-controller="VehicleCatalogue" class="col-lg-7">
                <h2 class="section-heading"><strong>@ViewBag.Title</strong></h2>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="listing d-block align-items-stretch">
                    <div class="listing-contents h-100">
                        <div style="display:flex; justify-content:space-between;">
                            <h3> Name</h3>
                            <h3 style="text-align:right;color:gold;"> ★★★★★</h3>
                        </div>

                        <div style="display:flex; justify-content:space-between">
                            <p>Already Rented 5 times</p>
                            <p> X rents so far</p>
                        </div>
                        <div style="text-align:center;">
                            <p ><a asp-controller="VehicleCatalogue" asp-action="VehicleCopy" class="btn btn-primary btn-sm" style="background-color:brown; border-color:brown;">Go to Vehicle Copy Page</a></p>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
